<div id="jr_subscription_page">
    {% section 'template-jr-subscription-banner' %}
    {% section 'template-jr-one-box-at-time' %}
    {% section 'template-jr-expect-box' %}
    {% section 'template-jr-choose-plan' %}
    {% section 'template-jr-how-it-work' %}
    {% section 'template-jr-countdown' %}
    {% section 'template-jr-box-brand' %}
    {% section 'template-jr-faq-blog-follow' %}
    {% section 'jr-footer' %}
</div>
