<div class="card bg-dark text-white" style="background: linear-gradient(to bottom, #373b44, #1F6AB0);">
  <div class="card-body d-flex align-items-center">
    <div class="inner">
      <h4 class="card-title">Card Promo</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare, diam sed semper sodales, metus diam sollicitudin tellus, nec efficitur libero nulla et quam.</p>
      <a href="#" class="btn btn-outline-light">Learn More</a>
    </div>
  </div>
</div>
