{% assign template_type = section.settings.template_type %}
{% assign fluid_layout = section.settings.fluid_layout %}
{% assign items_per_page = section.settings.items_per_page %}
{% assign sidebar_enabled = section.settings.enable_sidebar %}
{% assign sidebar_is_sticky = section.settings.sidebar_is_sticky %}
{% assign blog_title = blog.title %}

{% if current_tags %}
  {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
{% endif %}

<div data-section-id="{{ section.id }}">
  {% if  template_type == "grid" %}
  {% include "template-blog-grid" %}
  {% elsif template_type == "list" %}
  {% include "template-blog-list" %}
  {% endif %}
</div>


{% schema %}
  {
    "name": "Blog Template",
    "settings": [
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "select",
        "id": "template_type",
        "label": "Template Type",
        "options": [{
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ],
        "default": "grid"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable Sidebar?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sidebar_is_sticky",
        "label": "Sticky Sidebar?",
        "default": false
      },
      {
        "type": "range",
        "id": "items_per_page",
        "label": "Articles Per Page",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 12
      },
      {
        "type": "paragraph",
        "content": "Use the section below to customize the sidebar content."
      }
    ],
    "blocks": [
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_socials",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "socials_title",
            "label": "Title",
            "default": "Connect with Us"
          },
          {
            "type": "paragraph",
            "content": "Select Networks"
          },
          {
            "type": "checkbox",
            "id": "social_icon_facebook",
            "label": "Facebook",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_twitter",
            "label": "Twitter",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_googleplus",
            "label": "Google+",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_instagram",
            "label": "Instagram",
            "default": true
          }
        ]
      },
      {
        "type": "recent-articles",
        "name": "Recent Articles",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_recent_articles",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "recent_articles_title",
            "label": "Title",
            "default": "Recent Articles"
          },
          {
            "type": "range",
            "id": "total_recent_articles",
            "label": "Articles Limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 5
          }
        ]
      },
      {
        "type": "tags",
        "name": "Tags",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_tags",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "tags_title",
            "label": "Title",
            "default": "Tags"
          }
        ]
      }
    ]
  }
{% endschema %}
