{% assign template_type = section.settings.template_type %}
{% assign fluid_layout = section.settings.fluid_layout %}
{% assign items_per_page = section.settings.items_per_page %}
{% assign sidebar_enabled = section.settings.enable_sidebar %}
{% assign blog_title = blog.title %}

{% if current_tags %}
  {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
{% endif %}

<div data-section-id="{{ section.id }}">
  {% include "template-blog-oc" %}
</div>


{% schema %}
  {
    "name": "Blog Template",
    "settings": [
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable Sidebar?",
        "default": false
      },
      {
        "type": "range",
        "id": "items_per_page",
        "label": "Articles Per Page",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 12
      },
      {
        "type": "paragraph",
        "content": "Use the section below to customize the sidebar content."
      },
    {
        "type": "link_list",
        "id": "categories",
        "label": "Categories Menu"
    }
   
    ],
    "blocks": [
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_socials",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "socials_title",
            "label": "Title",
            "default": "Connect with Us"
          },
          {
            "type": "paragraph",
            "content": "Select Networks"
          },
          {
            "type": "checkbox",
            "id": "social_icon_facebook",
            "label": "Facebook",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_twitter",
            "label": "Twitter",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_googleplus",
            "label": "Google+",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_instagram",
            "label": "Instagram",
            "default": true
          }
        ]
      },
      {
        "type": "recent_articles",
        "name": "Recent Articles",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_recent_articles",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "recent_articles_title",
            "label": "Title",
            "default": "Recent Articles"
          },
          {
            "type": "range",
            "id": "total_recent_articles",
            "label": "Articles Limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 5
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
        {
            "type": "checkbox",
            "id": "show_newsletter",
            "label": "Show Newsletter Subscription?",
            "default": true
        },
        {
            "type": "text",
            "id": "newsletter_heading",
            "label": "Heading",
            "default": "Subscribe"
        },
        {
            "type": "text",
            "id": "newsletter_subHeading",
            "label": "Text",
            "default": "Get monthly updates and free resources."
        },
        {
          "type": "text",
          "id": "which_product",
          "label": "Which one you want?",
          "default": "Which do you want to subscribe to?"
        },
        {
            "type": "text",
            "id": "klaviyo_adult",
            "label": "Klaviyo List ID For Adult"
        },
        {
            "type": "text",
            "id": "klaviyo_jr",
            "label": "Klaviyo List ID For JR"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background Image"
        }
        ]
      },
      {
        "type": "tags",
        "name": "Tags",
        "settings": [
          {
            "type": "header",
            "content": "Tags"
          },
          {
              "type": "text",
              "id": "tags_title",
              "label": "Heading",
			  "default": "Popular Tags"
          },
          {
            "type": "checkbox",
            "id": "enabled_tags",
            "label": "enabled Tags",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}
