<section  data-section-id="{{ section.id }}" class="py-md-4">
    <div class="section-content pt-0 pt-md-7">
        <div class="bg-gray-100 py-4 text-center d-md-none mb-4">
             <h6 class="font-size-sm mb-1">Your Gift Subscription:</h6>
             <div class="d-flex align-items-center justify-content-center">
                <h6 class="ls-base text-capitalize mb-0">OwlCrate</h6><p class="font-size-sm mb-0 ml-2">Ages 14+</p><a href="#" class="line-hover-primary font-weight-semi-bold ml-2">Change Box</a>
             </div>
        </div>
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="row">
                <div class="col-12 col-md-3 d-none d-md-block">
                    <div class="bg-gray-100 h-100 p-4">
                        <h6 class="font-size-sm mb-3">Your Gift Subscription:</h6>
                        <div class="gift-box-item">
                            <div class="d-flex align-items-center">
                                <div class="product-img">
                                    <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/git-ow.jpg?v=1562127156" class="img-fluid" />
                                </div>
                                <div class="gift-box-text w-50 pl-3">
                                    <h6 class="ls-base text-capitalize mb-0">OwlCrate</h6>
                                    <p class="font-size-sm mb-0">Ages 14+</p>
                                    <a href="#" class="line-hover-primary font-weight-semi-bold">Change Box</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <h3 class="mb-4 mb-md-0 text-center text-md-left">Select your Plan</h3>
                    <div class="row align-items-end">
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card shadow-none border-secondary plan-item">
                                <div class="card-body d-flex align-items-center d-md-block py-5">
                                    <div class="d-md-none plan-mobile-img w-50">
                                        <div class="product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/owl-pack.jpg?11794" class="img-fluid h-100" />
                                        </div>
                                    </div>
                                    <div class="plan-item-text text-left text-md-center">
                                        <h6 class="mb-1">Monthly</h6>
                                        <h5>$29.99</h5>
                                        <div class="product-img mb-4 d-none d-md-block">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/owl-pack.jpg?11794" class="img-fluid h-100" />
                                        </div>
                                        <p class="mb-0"><b>Total Price:</b> $29.99 + Shipping</p>
                                        <p class="mb-0">One-Time Box</p>
                                        <a href="#" class="btn btn-sm btn-dark mt-3">Select</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card shadow-none border-secondary plan-item">
                                <p class="bg-blurple-100 text-center py-1 mb-0 text-white ls-1 font-weight-semi-bold font-size-xs">You Save $2.99!</p>
                                <div class="card-body d-flex align-items-center d-md-block py-5">
                                    <div class="d-md-none plan-mobile-img w-50">
                                        <div class="product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/owl-pack.jpg?11794" class="img-fluid h-100" />
                                        </div>
                                    </div>
                                    <div class="plan-item-text text-left text-md-center">
                                        <h6 class="mb-1">3 month prepay</h6>
                                        <h5>$86.98</h5>
                                        <div class="product-img mb-4 d-none d-md-block">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/owl-pack.jpg?11794" class="img-fluid h-100" />
                                        </div>
                                        <p class="mb-0"><b>Total Price:</b> $86.98 + Shipping</p>
                                        <p class="mb-0">One-Time 3-Month Subscription</p>
                                        <a href="#" class="btn btn-sm btn-dark mt-3">Select</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mb-md-0">
                           <div class="card shadow-none border-secondary plan-item">
                                <p class="bg-blurple-100 text-center py-1 mb-0 text-white ls-1 font-weight-semi-bold font-size-xs">You Save $12.00!</p>
                                <div class="card-body d-flex align-items-center d-md-block py-5">
                                    <div class="d-md-none plan-mobile-img w-50">
                                        <div class="product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/owl-pack.jpg?11794" class="img-fluid h-100" />
                                        </div>
                                    </div>
                                    <div class="plan-item-text text-left text-md-center">
                                        <h6 class="mb-1">6 month prepay</h6>
                                        <h5>$167.94</h5>
                                        <div class="product-img mb-4 d-none d-md-block">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/owl-pack.jpg?11794" class="img-fluid h-100" />
                                        </div>
                                        <p class="mb-0"><b>Total Price:</b> $167.94 + Shipping</p>
                                        <p class="mb-0">One-Time 6-Month Subscription</p>
                                        <a href="#" class="btn btn-sm btn-dark mt-3">Select</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="row">
                <div class="col-12 col-md-3 d-none d-md-block">
                    <div class="bg-gray-100 h-100 p-4">
                        <h6 class="font-size-sm mb-3">Your Gift Subscription:</h6>
                        <div class="gift-box-item border-bottom border-secondary py-5">
                            <div class="d-flex align-items-center">
                                <div class="product-img">
                                    <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/git-ow.jpg?v=1562127156" class="img-fluid" />
                                </div>
                                <div class="gift-box-text pl-3">
                                    <h6 class="ls-base text-capitalize mb-0">OwlCrate</h6>
                                    <p class="font-size-sm mb-0">Ages 14+</p>
                                    <a href="#" class="line-hover-primary font-weight-semi-bold">Change Box</a>
                                </div>
                            </div>
                        </div>
                        <div class="gift-box-item py-5">
                            <h6 class="font-size-sm mb-2">Your Plan:</h6>
                            <div class="d-flex align-items-center">
                                <div class="product-img">
                                    <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/git-ow.jpg?v=1562127156" class="img-fluid" />
                                </div>
                                <div class="gift-box-text pl-3">
                                    <h6 class="ls-base text-capitalize mb-0">3 Month Prepay</h6>
                                    <p class="font-size-sm mb-0">$86.98</p>
                                    <a href="#" class="line-hover-primary font-weight-semi-bold">Change Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <h3 class="mb-4 text-center text-md-left">Select your gift delivery option</h3>
                    <div class="border border-secondary py-3 mb-form-gutter delivery-option before-open">
                        <div class="d-flex align-items-center px-5 py-3 cursor-pointer delivery-clickble"> 
                            <div class="gift-delivery-img">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="4.4375rem" height="2.9375rem" viewBox="0 0 138.309 91.958" enable-background="new 0 0 138.309 91.958"
                                    xml:space="preserve"><g><defs><rect id="SVGID_1_" y="0" width="138.309" height="91.958"/></defs> <clipPath id="SVGID_2_"> <use xlink:href="#SVGID_1_"  overflow="visible"/>
                                    </clipPath> <path clip-path="url(#SVGID_2_)" fill="#26BCB4" d="M5.74,78.955h7.654c0.99,7.321,7.214,13.003,14.802,13.003
                                        S42.009,86.276,43,78.955h43.275h10.213c0.991,7.321,7.215,13.003,14.803,13.003c7.588,0,13.814-5.682,14.804-13.003h6.473
                                        c3.166,0,5.741-2.577,5.741-5.743v-29.67c0-3.166-2.575-5.743-5.741-5.743h-6.307L110.862,13.61
                                        c-1.056-1.664-2.868-2.658-4.841-2.658H88.278V5.743c0-3.167-2.575-5.743-5.74-5.743H5.74C2.574,0,0,2.576,0,5.743v67.469
                                        C0,76.378,2.574,78.955,5.74,78.955 M28.196,87.954c-6.065,0-11.001-4.936-11.001-11.001s4.936-11.002,11.001-11.002
                                        c6.066,0,11.002,4.937,11.002,11.002S34.262,87.954,28.196,87.954 M111.291,87.954c-6.065,0-11.001-4.936-11.001-11.001
                                        s4.936-11.002,11.001-11.002c6.066,0,11.002,4.937,11.002,11.002S117.357,87.954,111.291,87.954 M134.305,43.542v29.67
                                        c0,0.96-0.78,1.739-1.737,1.739h-6.406c-0.024-0.184-0.091-0.353-0.122-0.533c-0.072-0.421-0.175-0.825-0.281-1.233
                                        c-0.135-0.517-0.285-1.024-0.473-1.519c-0.146-0.387-0.309-0.759-0.486-1.13c-0.229-0.478-0.478-0.938-0.754-1.386
                                        c-0.211-0.344-0.427-0.678-0.664-1.004c-0.314-0.428-0.653-0.829-1.009-1.222c-0.266-0.293-0.526-0.584-0.814-0.856
                                        c-0.394-0.371-0.817-0.702-1.247-1.029c-0.308-0.233-0.603-0.475-0.927-0.684c-0.475-0.305-0.981-0.556-1.489-0.808
                                        c-0.329-0.163-0.642-0.347-0.984-0.485c-0.581-0.236-1.193-0.4-1.807-0.562c-0.306-0.081-0.596-0.197-0.909-0.259
                                        c-0.941-0.185-1.91-0.294-2.905-0.294c-0.994,0-1.963,0.109-2.904,0.294c-0.314,0.062-0.604,0.178-0.909,0.259
                                        c-0.615,0.162-1.227,0.326-1.808,0.562c-0.342,0.138-0.654,0.322-0.983,0.485c-0.509,0.252-1.014,0.503-1.489,0.808
                                        c-0.325,0.209-0.62,0.451-0.926,0.684c-0.432,0.327-0.855,0.658-1.248,1.029c-0.288,0.272-0.548,0.563-0.814,0.856
                                        c-0.356,0.393-0.696,0.794-1.01,1.222c-0.237,0.326-0.453,0.66-0.664,1.004c-0.276,0.448-0.525,0.908-0.753,1.386
                                        c-0.177,0.371-0.341,0.743-0.487,1.13c-0.188,0.495-0.337,1.002-0.473,1.519c-0.106,0.408-0.209,0.812-0.281,1.233
                                        c-0.031,0.18-0.098,0.349-0.122,0.533h-8.142V41.803h36.883h7.407C133.525,41.803,134.305,42.581,134.305,43.542 M106.021,14.956
                                        c0.587,0,1.148,0.308,1.463,0.804l14.03,22.039H88.278V14.956H106.021z M4.004,5.743c0-0.958,0.779-1.739,1.736-1.739h76.798
                                        c0.957,0,1.736,0.781,1.736,1.739v7.211v26.847v35.15H43.067c-0.024-0.184-0.09-0.353-0.122-0.533
                                        c-0.071-0.421-0.174-0.825-0.281-1.233c-0.135-0.517-0.285-1.024-0.472-1.519c-0.147-0.387-0.31-0.759-0.487-1.13
                                        c-0.228-0.478-0.477-0.938-0.753-1.386c-0.212-0.344-0.427-0.678-0.665-1.004c-0.313-0.428-0.653-0.829-1.009-1.222
                                        c-0.266-0.293-0.526-0.584-0.814-0.856c-0.394-0.371-0.816-0.702-1.247-1.029c-0.308-0.233-0.603-0.475-0.927-0.684
                                        c-0.474-0.305-0.98-0.556-1.489-0.808c-0.328-0.163-0.642-0.347-0.984-0.485c-0.581-0.236-1.193-0.4-1.807-0.562
                                        c-0.306-0.081-0.596-0.197-0.908-0.259c-0.942-0.185-1.911-0.294-2.906-0.294c-0.995,0-1.963,0.109-2.904,0.294
                                        c-0.313,0.062-0.603,0.178-0.908,0.259c-0.615,0.162-1.228,0.326-1.809,0.562c-0.342,0.138-0.654,0.322-0.983,0.485
                                        c-0.509,0.252-1.014,0.503-1.488,0.808c-0.326,0.209-0.621,0.451-0.927,0.684c-0.432,0.327-0.855,0.658-1.247,1.029
                                        c-0.288,0.272-0.549,0.563-0.815,0.856c-0.356,0.393-0.696,0.794-1.008,1.222c-0.239,0.326-0.455,0.66-0.665,1.004
                                        c-0.276,0.448-0.526,0.908-0.753,1.386c-0.178,0.371-0.341,0.743-0.488,1.13c-0.187,0.495-0.337,1.002-0.472,1.519
                                        c-0.107,0.408-0.209,0.812-0.282,1.233c-0.031,0.18-0.097,0.349-0.122,0.533H5.74c-0.957,0-1.736-0.779-1.736-1.739V5.743z"/></g> </svg>
                            </div>
                            <div class="gift-delivery-text pl-6">
                                <h6 class="mb-1">SHIP THE UPCOMING BOX</h6>
                                <p class="ls-1 mb-0">Your gift will begin with our upcoming box, set to ship around the 15-20th of the month.</p>
                            </div>
                        </div>
                        <div class="px-5 delivery-box">
                            <div class="form-row">
                                <div class="col-12 col-sm-6 col-md-4 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="First Name">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Last Name">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Company">
                                </div>
                                <div class="col-12 col-md-6 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Address 1">
                                </div>
                                <div class="col-12 col-md-6 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Address 2">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="City">
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 mb-form-gutter">
                                <select class="form-control form-control-sm font-base ls-base font-italic">
                                        <option>State</option>
                                        <option>State</option>
                                </select>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Zip Code">
                                </div>
                                <div class="col-12 col-md-6 mb-form-gutter">
                                <select class="form-control form-control-sm font-base ls-base font-italic">
                                        <option>Country</option>
                                        <option>Country</option>
                                </select>
                                </div>
                                <div class="col-12 col-md-6 mb-form-gutter">
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Phone (Optional)">
                                </div>
                                <div class="col-12 mb-form-gutter">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-6 order-md-2 text-md-right">
                                            <span class="lead"><span class="font-weight-semi-bold">Subtotal:</span> $86.98 <span class="font-size-sm">USD</span></span>
                                            <a href="#" class="btn btn-primary">Checkout</a>
                                        </div>
                                        <div class="col-12 col-md-6 order-md-1 text-center text-md-left">
                                            <p class="mb-0 font-size-xs ls-1"><span class="font-weight-semi-bold">Shipping:</span>  US $7.99  |  Canada $10.59  |  International $19.99</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="border border-secondary py-3 delivery-option before-open">
                        <div class="d-flex align-items-center px-5 py-3 cursor-pointer delivery-clickble"> 
                            <div class="gift-delivery-img">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    width="4.6875rem" height="2.6875rem" viewBox="0 0 115.627 65.934" enable-background="new 0 0 115.627 65.934"
                                    xml:space="preserve">
                                <g>
                                    <defs>
                                        <rect id="SVGID_1_" y="0" width="115.627" height="65.934"/>
                                    </defs>
                                    <clipPath id="SVGID_2_">
                                        <use xlink:href="#SVGID_1_"  overflow="visible"/>
                                    </clipPath>
                                    <path clip-path="url(#SVGID_2_)" fill="#26BCB4" d="M23.553,64.359c0.846,1.002,2.083,1.576,3.393,1.576h74.609
                                        c1.226,0,2.31-0.529,3.117-1.344c0.057-0.068,0.124-0.126,0.168-0.201c0.532-0.603,0.951-1.312,1.092-2.156l9.632-57.056
                                        c0.218-1.292-0.142-2.607-0.987-3.605C113.731,0.574,112.494,0,111.184,0H36.579c-1.22,0-2.299,0.523-3.107,1.331
                                        c-0.06,0.073-0.134,0.136-0.18,0.216c-0.531,0.603-0.95,1.311-1.094,2.154l-9.629,57.051
                                        C22.348,62.043,22.709,63.358,23.553,64.359 M67.013,44.797l1.19,1.239l-1.477-1.266L37.589,3.436h72.545L67.013,44.797z
                                        M63.919,46.748c0.606,0.864,1.559,1.419,2.611,1.519c0.118,0.014,0.236,0.018,0.351,0.018c0.932,0,1.832-0.359,2.51-1.009
                                        l12.185-11.687l18.969,26.91H27.997l28.055-26.91L63.919,46.748z M102.856,59.817L84.084,33.184l27.765-26.632L102.856,59.817z
                                        M35.275,6.115L54.05,32.748L26.284,59.381L35.275,6.115z"/>
                                    <path clip-path="url(#SVGID_2_)" fill="#26BCB4" d="M3.937,20.14c0,0.947,0.771,1.718,1.718,1.718h19.573
                                        c0.947,0,1.718-0.771,1.718-1.718c0-0.947-0.771-1.718-1.718-1.718H5.655C4.708,18.422,3.937,19.193,3.937,20.14"/>
                                    <path clip-path="url(#SVGID_2_)" fill="#26BCB4" d="M3.688,32.625h19.573c0.948,0,1.718-0.771,1.718-1.718s-0.77-1.718-1.718-1.718
                                        H3.688c-0.947,0-1.718,0.771-1.718,1.718S2.741,32.625,3.688,32.625"/>
                                    <path clip-path="url(#SVGID_2_)" fill="#26BCB4" d="M23.008,41.678c0-0.947-0.77-1.718-1.717-1.718H1.717
                                        c-0.947,0-1.718,0.771-1.718,1.718s0.771,1.717,1.718,1.717h19.574C22.238,43.395,23.008,42.625,23.008,41.678"/>
                                </g>
                                </svg>
                            </div>
                            <div class="gift-delivery-text pl-6">
                                <h6 class="mb-1">SEND GIFT VIA EMAIL</h6>
                                <p class="ls-1 mb-0">Your recipient will receive an email with a link to claim their gift. You can schedule the email to send at any time and your recipient can claim their gift whenever they like.</p>
                            </div>
                        </div>
                        <div class="px-5 delivery-box">
                            <div class="row mt-2">
                                <div class="col-12 col-md-4">
                                    <h6 class="text-capitalize mb-2">Send Gift Email:</h6>
                                    <input type="text" class="form-control form-control-sm font-base ls-base font-italic mb-3" placeholder="Select Date">
                                    <p class="font-size-sm">The recipient will receive an email on
                                        the selected date below to claim
                                        their gift.</p>
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="form-row">
                                        <div class="col-12 col-sm-6 mb-form-gutter">
                                            <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="First Name">
                                        </div>
                                        <div class="col-12 col-sm-6 mb-form-gutter">
                                            <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Last Name">
                                        </div>
                                        <div class="col-12 mb-form-gutter">
                                            <input type="text" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Email">
                                        </div>
                                        <div class="col-12 mb-form-gutter">
                                            <textarea rows="5" class="form-control form-control-sm font-base ls-base font-italic" placeholder="Gift Message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mb-form-gutter">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-6 order-md-2 text-md-right">
                                            <span class="lead"><span class="font-weight-semi-bold">Subtotal:</span> $86.98 <span class="font-size-sm">USD</span></span>
                                            <a href="#" class="btn btn-primary">Checkout</a>
                                        </div>
                                        <div class="col-12 col-md-6 order-md-1 text-center text-md-left">
                                            <p class="mb-0 font-size-xs ls-1"><span class="font-weight-semi-bold">Shipping:</span>  US $7.99  |  Canada $10.59  |  International $19.99</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="row">
                <div class="col-12 col-md-3 d-none d-md-block">
                    <div class="bg-gray-100 h-100 p-4">
                        <h6 class="font-size-sm mb-3">Your Gift Subscription:</h6>
                        <div class="gift-box-item border-bottom border-secondary py-5">
                            <div class="d-flex align-items-center">
                                <div class="product-img">
                                    <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/git-ow.jpg?v=1562127156" class="img-fluid" />
                                </div>
                                <div class="gift-box-text pl-3">
                                    <h6 class="ls-base text-capitalize mb-0">OwlCrate</h6>
                                    <p class="font-size-sm mb-0">Ages 14+</p>
                                    <a href="#" class="line-hover-primary font-weight-semi-bold">Change Box</a>
                                </div>
                            </div>
                        </div>
                        <div class="gift-box-item py-5">
                            <h6 class="font-size-sm mb-2">Your Plan:</h6>
                            <div class="d-flex align-items-center">
                                <div class="product-img">
                                    <img src="https://cdn.shopify.com/s/files/1/1091/8372/files/git-ow.jpg?v=1562127156" class="img-fluid" />
                                </div>
                                <div class="gift-box-text pl-3">
                                    <h6 class="ls-base text-capitalize mb-0">3 Month Prepay</h6>
                                    <p class="font-size-sm mb-0">$86.98</p>
                                    <a href="#" class="line-hover-primary font-weight-semi-bold">Change Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <h3 class="mb-0 text-center text-md-left">Other products we know you’ll love</h3>
                    <p class="ls-1">Add some one-time purchase items that will be delivered in your first subscription box!</p>
                    <div class="border border-secondary py-4 px-7 one-time-gift">
                        <div class="carousel row" role="tree"
                            data-flickity='{
                                "contain": false,
                                "wrapAround": true,
                                "groupCells": "100%",
                                "dragThreshold": 20,
                                "lazyLoad": false,
                                "prevNextButtons": true,
                                "pageDots": false,
                                "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 65, "y2": 40, "x3": 25}
                            }'>
                            <div class="carousel-cell col-md-3" role="treeitem">
                                <div class="card card-product card-product-style-1 shadow-none border-0 text-left">
                                    <div class="card-img text-center position-relative">
                                        <a href="#" class="position-relative product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/products/OC-PB-MAY2019-darjeeling_and_jade_600x.jpg?v=1558911843" class="img-fluid w-auto h-100 lazyload" />
                                        </a>
                                    </div>
                                    <div class="card-body px-0 pb-1 text-center">
                                        <h5 class="font-size-sm ls-base">Exclusive Magical Creatures Umbrella</h4>
                                        <p class="font-size-sm mb-2">$29.99</p>
                                        <a href="#" class="btn btn-sm btn-outline-primary w-100">ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-cell col-md-3" role="treeitem">
                                <div class="card card-product card-product-style-1 shadow-none border-0 text-left">
                                    <div class="card-img text-center position-relative">
                                        <a href="#" class="position-relative product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/products/OC-PB-MAY2019-darjeeling_and_jade_600x.jpg?v=1558911843" class="img-fluid w-auto h-100 lazyload" />
                                        </a>
                                    </div>
                                    <div class="card-body px-0 pb-1 text-center">
                                        <h5 class="font-size-sm ls-base">Exclusive Magical Creatures Umbrella</h4>
                                        <p class="font-size-sm mb-2">$29.99</p>
                                        <a href="#" class="btn btn-sm btn-outline-primary w-100">ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-cell col-md-3" role="treeitem">
                                <div class="card card-product card-product-style-1 shadow-none border-0 text-left">
                                    <div class="card-img text-center position-relative">
                                        <a href="#" class="position-relative product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/products/OC-PB-MAY2019-darjeeling_and_jade_600x.jpg?v=1558911843" class="img-fluid w-auto h-100 lazyload" />
                                        </a>
                                    </div>
                                    <div class="card-body px-0 pb-1 text-center">
                                        <h5 class="font-size-sm ls-base">Exclusive Magical Creatures Umbrella</h4>
                                        <p class="font-size-sm mb-2">$29.99</p>
                                        <a href="#" class="btn btn-sm btn-outline-primary w-100">ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-cell col-md-3" role="treeitem">
                                <div class="card card-product card-product-style-1 shadow-none border-0 text-left">
                                    <div class="card-img text-center position-relative">
                                        <a href="#" class="position-relative product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/products/OC-PB-MAY2019-darjeeling_and_jade_600x.jpg?v=1558911843" class="img-fluid w-auto h-100 lazyload" />
                                        </a>
                                    </div>
                                    <div class="card-body px-0 pb-1 text-center">
                                        <h5 class="font-size-sm ls-base">Exclusive Magical Creatures Umbrella</h4>
                                        <p class="font-size-sm mb-2">$29.99</p>
                                        <a href="#" class="btn btn-sm btn-outline-primary w-100">ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-cell col-md-3" role="treeitem">
                                <div class="card card-product card-product-style-1 shadow-none border-0 text-left">
                                    <div class="card-img text-center position-relative">
                                        <a href="#" class="position-relative product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/products/OC-PB-MAY2019-darjeeling_and_jade_600x.jpg?v=1558911843" class="img-fluid w-auto h-100 lazyload" />
                                        </a>
                                    </div>
                                    <div class="card-body px-0 pb-1 text-center">
                                        <h5 class="font-size-sm ls-base">Exclusive Magical Creatures Umbrella</h4>
                                        <p class="font-size-sm mb-2">$29.99</p>
                                        <a href="#" class="btn btn-sm btn-outline-primary w-100">ADD</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-cell col-md-3" role="treeitem">
                                <div class="card card-product card-product-style-1 shadow-none border-0 text-left">
                                    <div class="card-img text-center position-relative">
                                        <a href="#" class="position-relative product-img">
                                            <img src="https://cdn.shopify.com/s/files/1/1091/8372/products/OC-PB-MAY2019-darjeeling_and_jade_600x.jpg?v=1558911843" class="img-fluid w-auto h-100 lazyload" />
                                        </a>
                                    </div>
                                    <div class="card-body px-0 pb-1 text-center">
                                        <h5 class="font-size-sm ls-base">Exclusive Magical Creatures Umbrella</h4>
                                        <p class="font-size-sm mb-2">$29.99</p>
                                        <a href="#" class="btn btn-sm btn-outline-primary w-100">ADD</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mt-4">
                        <h5 class="lead mb-0"><span class="font-weight-semi-bold">Subtotal:</span> $86.98</h5>
                        <a href="#" class="btn btn-primary ml-5">no thanks, Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "gift Subscribe Template",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
       {
        "type": "text",
        "id": "faq_heading",
        "label": "Faq Heading"
      }
    ],
    "blocks": [
      {
        "type": "gift_banner",
        "name": "Gift Banner",
        "settings": [
          {
            "type": "checkbox",
            "id": "gift_banner_check",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "header",
            "content": "Description"
         },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "txt",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}