.wi__header-wrapper {
    background-color: #FCFCFC;
}

.wi__header {
    padding: 40px 0;
    max-width: 650px;
    margin: 0 auto;
}

.wi__subtitle {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #282560;
    opacity: 0.7;
    margin-bottom: 0;
    margin-top: 18px;
}

.wi__btnWrapper {
    margin-top: 26px;
}

.wi__btn {
    margin: 0 auto;
    width: 201px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #26BCB4;
    border-radius: 10px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: all .15s linear;
}

.wi__btn:hover {
    color: #fff;
    box-shadow: 0px 0px 60px rgba(38, 188, 180, 0.4);
}

.wi__linkWrapper {
    text-align: center;
    margin-top: 16px;
}

.wi__link {
    transition: all .15s linear;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: underline;
    color: #282560;
}

.wi__link:hover {
    opacity: .7;
    text-decoration: underline;
    color: #282560;
}

.wi__items {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
}

.wi__items--mobile,
.wi__items {
    background: #282560;
}

.wi__items--mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.wi__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wi__line-top {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 1px;
    height: 155px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}

.wi__circle {
    width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid #ffffff;
    position: relative;
    z-index: 1;
    background-color: #282560;
}

.wi__image {
    position: absolute;
    z-index: 2;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: all .2s linear;
}

.wi__blur {
    position: absolute;
    top: 45px;
    bottom: 45px;
    left: 65px;
    right: 65px;
    z-index: 3;
    background: rgba(99, 94, 206, 0.9);
    filter: blur(50px);
    visibility: hidden;
    opacity: 0;
    transition: all .15s linear;
}

.wi__ok-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    bottom: 130px;
    width: 70px;
    height: auto;
}

.wi__titles {
    position: absolute;
    bottom: 38px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 88px;
    z-index: 4;
}

.wi__item-title {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #EBFBFA;
}

.wi__item-subtitle {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto; 
    max-width: 205px;
}

.wi__ss1 {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.wi__ss2 {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.wi__icon {
    position: absolute;
    z-index: 4;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.wi__item.carousel-cell {
    width: calc(100% - 40px);
    max-width: 300px;
    height: 533px;
    padding-bottom: 100px;
}

.wi__icon--3 {
    top: 50px;
}

@media only screen and (min-width: 768px) {
    .wi__item.carousel-cell {
        max-width: 500px;
    }
}

@media only screen and (min-width: 1280px) {
    .wi__header {
        padding: 60px 0;
    }

    .wi__item:hover .wi__image {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    
    .wi__item:hover .wi__blur {
        opacity: 1;
        visibility: visible;
    }

    .wi__icon--3 {
        top: 110px;
    }

    .wi__subtitle {
        font-size: 24px;
        line-height: 29px;
        opacity: 1;
        margin-top: 32px;
    }

    .wi__items--mobile {
        display: none;
    }

    .wi__btnWrapper {
        margin-top: 32px;
    }

    .wi__btn {
        width: 221px;
        height: 75px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 20px;
    }

    .wi__linkWrapper {
        margin-top: 20px;
    }

    .wi__link {
        font-size: 20px;
        line-height: 24px;
    }

    .wi__items {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .wi__item {
        height: 627px;
    }

    .wi__item-title {
        font-size: 27px;
        line-height: 32px;
    }

    .wi__item-subtitle {
        font-size: 20px;
        line-height: 24px;
        max-width: 289px;
    }

    .wi__ok-icon {
        bottom: 120px;
        width: auto;
    }

    .wi__icon {
        top: 60px;
    }

    .wi__circle {
        width: 344px;
    }

    .wi__image {
        width: 308px;
        height: 308px;
    }
}